:root {
  --text-color: #fff;
  --btn-color: #ff7500;
  --list-color: #ff7500;
  --btnText-color: #fff;
  --hero-bg: #252420;
  --list-bg: #ff7500;
  --border-color: #000;
  --body-color: rgb(130, 234, 234);
}
.light {
  --text-color: #fff;
  --btn-color: #000;
  --list-color: #fff;
  --btnText-color: #fff;
  --hero-bg: #252420;
  --list-bg: #000;
  --border-color: #000;
  --body-color: rgb(148, 237, 137);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.root {
  height: 100%;
}
main {
  flex-grow: 1;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* form */
#Todoform {
  width: 400px;
  padding: 5px 8px;
  border-radius: 11px;
  border: 2px solid var(--border-color);
  gap: 5px;
  background-color: #fff;
  margin-bottom: 10px;
}
#Todoform:hover {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.364);
}
#Todoform input {
  width: 100%;
  border: none;
  outline: none;
  background: inherit;
}
.h2 {
  margin-bottom: 25px;
}
#searchInp {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 280px;
  margin-right: 5px;
}
.form_div {
  display: flex;
}
#submitBtn {
  display: flex;
  align-self: normal;
  justify-content: center;
  padding: 4px 8px;
  background-color: #212222;
  color: var(--btnText-color);
  border: 0;
  align-self: flex-start;
  border-radius: 5px;
  margin-top: 2px;
}
#productList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.list-item {
  width: 400px;
  padding: 12px 24px;
  border-radius: 11px;
  background-color: #212222;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item i {
  cursor: pointer;
}
.header-btnn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 0;
  border-radius: 4px;
  background-color: #212222;
  color: #fff;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 6px 12px;
  margin-bottom: 15px;
}
.wrapper_color {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.trash-png {
  margin-left: 5px;
}
.rasm-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#editInp {
  width: 250px;
  height: 22px;
  outline: none;
}
#editBtn {
  display: flex;
  align-self: normal;
  justify-content: center;
  padding: 4px 8px;
  background-color: var(--btnText-color);
  color: #212222;
  border: 0;
  align-self: flex-start;
  border-radius: 5px;
  margin-top: 2px;
}
#closeBtn {
  padding: 4px 8px;
  background-color: var(--btnText-color);
  color: #212222;
  border: 0;
  border-radius: 5px;
  margin-left: 134.5px;
  margin-top: 15px;
}
.modal_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
  margin-left: 8px;
}
.modal_div {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 12px;
  gap: 5px;
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 120px;
  top: 30%;
  left: 50%;
  background-color: #212222;
  border-radius: 8px;
  border: 1px solid #fff;
  z-index: 100;
  top: 380px;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000069;
  z-index: 10;
}
.hidden {
  display: none;
}
#rasm-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rasm1 {
  width: 21px;
}
.rasm2 {
  width: 30px;
}
